{{>head}}
{{>nombre}}
{{>menu}}

<div class="container">
  <div class="text-center">
  <br><br>
      <div class="text-center">
      <h2>{{enunciado}}</h2>
    </div>
  <br><br>
  <table class="table-striped">
    <thead>
      {{{lista}}}
  <br><br>
  <form action="/editar">
    <button type="Volver" class="btn btn-success">Volver</button>
  </form>
  <br><br>
</div>
</div>

{{>foot}}
