{{>head}}

    <div class="jumbotron">
      <div class="container">

        <div class="row">
          <div class="col sm-10 col-lg-12" >
            <h1 class="display-6">Educación Continua</h1>
            <hr class="my-2">
            <p class="lead">¡Bienvenidos! Este es el proyecto de educación continua del <strong>Tecnológico de Antioquia</strong>
              <br> Disfruta de nuestra oferta de cursos <3</p>


            <img src="img/banner.jpg" width="31%" class="img-fluid img-thumbnail rounded float-right" alt="Responsive image">
            <img src="img/banner1.jpg" width="9%" class="img-fluid img-thumbnail rounded float-right" alt="Responsive image">
          </div>
        </div>

      </div>
    </div>

  {{>menu}}

<br>

<div class="container">
  <h2>¡Bienvenidos!</h2>
    <p class="lead">Esperamos que aprendan mucho, aquí podrán encontrar toda la oferta educativa del TdeA</p>
  <div class="text-center">
    <img src="img/foto.jpg" width="50%" class="img-fluid img-thumbnail" alt="Responsive image">
  <p>Vista aérea del Tecnológico de Antioquia</p>
  <br>
  </div>
</div>


{{>foot}}
