{{>head}}
{{>nombre}}
{{>menu}}

<div class="container">
  <div class="text-center">
  <br><br>
      <div class="text-center">
      <h1>{{enunciado}}</h1>
    </div>
  <br><br>

    <table class="table">
    <thead class="thead-light">
    {{{lista}}}

  <br><br>
  <form action="/inscribir">
    <button type="Inscribir" class="btn btn-info">¡Ir a Inscribirme!</button>
  </form>
  <br><br>
</div>
</div>

{{>foot}}
